body {
	font-family: "Lato","Helvetica Neue",sans-serif;
	background-color: ##555;
	margin: 0px;
	text-align: center;
}

.container{
	margin: 4em 0em 2em;
	padding-right: 2em;
	padding-left: 2em;
	margin-right: auto;
	margin-left: auto
}

.image {
	margin: 3em 0em 0em;
	width: 12em;
}

.header {
	font-size: 3em;
	padding: 0px;
	margin: 0px;
}

.sub.header {
	font-size: 1.8em;
	padding: 0px;
	margin: 0px;
}

.divider {
	margin: 1em;
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(255,255,255,.8);
	line-height:1;
	height:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted;
}

a:hover, a:active {
	color: #555;
}

.links {
	padding: 0px;
	list-style: none outside none;
	margin: 0em;
}

.links li {
	display: inline-block;
}

.imagecopyright {
	font-size: 0.8em;
	padding: 0.8em 0em;
}