@import 'variables.css';
@import 'default.css';
@import 'style.css';

/*
* Основные стили
*/

html, body {
  font-family: "PT Mono", monospace;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  min-height: 500px;
  background: #FF6961;
}

body {
  transform: translateZ(0px);
  margin: 0;
  padding: 0;
}

a {
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.9);*/
  text-decoration: underline;
  color: #fff;
}

.container {
  height: 100%;
  width: 100%;
}