<html>
  <head>
    <title>Арсений Максимов</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic" rel="stylesheet">

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="Арсений Максимов" />
    <meta name="author" content="Арсений Максимов"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="content">
        <h1 class="header">Арсений Максимов</h1>
        <p>Веб-разработчик. Верстаю, программирую, веду&nbsp;проекты.</p>
        <p>Люблю Москву, города, велосипеды. Неравнодушен к дизайну интерфейсов, сайтов и  городской&nbsp;навигации.</p>

        <div class="social-wrap" title="ПУБЛИЧНАЯ ОФЕРТА: персональные данные не будут переданы третьим лицам без письменного согласия в двух экземлярах">
          <h3 class="social-wrap">Новое знакомство или проект<br> начинаются тут:</h3>
          <a class="email" href="mailto:localhost@kern0.ru">localhost@kern0.ru</a>
          <div class="social">
            <a class="social__item" href="http://twitter.com/notarseniy">Твиттер</a>
            <a class="social__item" href="http://instagram.com/notarseniy">Инстаграм</a>
            <a class="social__item" href="http://github.com/notarseniy">Гитхаб</a>
            <a class="social__item" href="http://moikrug.ru/notarseniy">Мой круг</a>
          </div>
        </div>
        
        <div class="about section">
          <h3 class="sub-header">Проекты</h3>
          <div class="project project--margin">
            <a class="project__header" href="http://metromap.fr" target="_blank">Новая транспортная схема Парижа</a>
            <p class="project__desc">Вёрстка, программирование, помощь в дизайне сайта новой&nbsp;транспортной схемы Парижа Константина Коновалова. <br>Помощь в дизайне схемы.</p>
            <div class="project__desc">illustrator, html, css, javascript, adaptive, responsive</div>
            <div class="project__desc">С сентября 2015 года по июнь 2016 года.</div>
          </div>
          <div class="project">
            <a class="project__header" href="https://new.vk.com/wall-116186911_53" target="_blank">РУСАЛ</a>
            <p class="project__desc">Вёрстка и программирование <br>обучающего курса и&nbsp;проверочных тестов. <br>Внедрение англоязычной версии.</p>
            <div class="project__desc">html, css, javascript, <span title="Internationalization">i18n</span></div>
            <div class="project__desc">С июля по сентябрь 2016 года. <a href="http://codecode.ru">Кодельная</a>.</div>
          </div>
          <div class="project">
            <a class="project__header" href="https://aragvi.moscow" target="_blank">Арагви</a>
            <p class="project__desc">Вёрстка, программирование фронтенда и бекенда сайта ресторана. Настройка сервера. Мобильная версия. Поддержка сайта.</p>
            <div class="project__desc">html, css, javascript, adaptive, responsive</div>
            <div class="project__desc">С февраля по сентябрь 2016 года. <a href="http://codecode.ru">Кодельная</a>.</div>
          </div>
          <div class="project">
            <a class="project__header" href="http://promo.zemaktiv.ru" target="_blank">Земактив</a>
            <p class="project__desc">Вёрстка и программирование первой версии главной страницы Земактива. Вёрстка внутренних страниц. Настройка сервера.</p>
            <div class="project__desc">html, css, javascript</div>
            <div class="project__desc">С марта по июнь 2016 года. <a href="http://codecode.ru">Кодельная</a>.</div>
          </div>
          <div class="project project--margin">
            <a class="project__header" href="http://journal.tinkoff.ru" target="_blank">Тинькофф-журнал</a>
            <p class="project__desc">Вёрстка нового шаблона статьи. Поддержка фронтенда. Документация по вёрстке статей для редакторов. <br>Адаптивная мобильная версия.</p>
            <div class="project__desc">html, css, javascript, adaptive, responsive</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://codecode.ru">Кодельная</a>.</div>
          </div>
          <div class="project project--margin">
            <a class="project__header" href="http://printit.ru" target="_blank">Print It</a>
            <p class="project__desc">Сервер обновлений и управления киосками (инстаграм-будки). Поддержка интерфейса киоска.</p>
            <div class="project__desc">node.js, javascript, nw.js, react, hardware</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://codephobos.com">CodePhobos</a>.</div>
          </div>
          <div class="project project--margin">
            <div class="project__header">Работа в <a href="http://priem.io" target="_blank">Priem (Deliverator)</a></div>
            <p class="project__desc">Сделал тестировочного бота для бекенда логистической системы. Бот притворялся мобильным приложением, ходил по карте и выполнял заказы.<br>
              Вёрстка простенького сайта.</p>
            <div class="project__desc">node.js, typescript, google maps api, html, css</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://priem.io">Priem</a>.</div>
          </div>
          <div class="project">
            <a class="project__header" href="#" target="_blank">Толмач</a>
            <p class="project__desc">Интерфейс для взаимодействия переводчиков и разработчиков.</p>
            <div class="project__desc">node.js, sails.js, express.js, javascript, gulp, design</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://heatherglade.com">Heatherglade</a>.</div>
          </div>
          <div class="project">
            <a class="project__header" href="http://api.greencubes.org" target="_blank">GreenCubes API/OAuth сервер</a>
            <p class="project__desc">Написал Web-API для игрового сервера с авторизацией через OAuth.</p>
            <div class="project__desc">node.js, sails.js, express.js, javascript, gulp, design</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://heatherglade.com">Heatherglade</a>.</div>
          </div>
          <div class="project">
            <a class="project__header" href="http://dev.greencubes.org" target="_blank">Панель управления для разработчиков</a>
            <p class="project__desc">Интерфейс для разработчиков приложений использующих Web-API.</p>
            <div class="project__desc">node.js, sails.js, express.js, javascript, gulp, design</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://heatherglade.com">Heatherglade</a>.</div>
          </div>
          <div class="project">
            <a class="project__header" href="http://help.greencubes.org" target="_blank">Система поддержки</a>
            <p class="project__desc">Хелпдеск с интеграцией в БД сервера приложения. Улучшение взаимодействия разных групп пользователей.</p>
            <div class="project__desc">node.js, sails.js, express.js, javascript, gulp, design</div>
            <div class="project__desc">С апреля по май 2016 года. <a href="http://heatherglade.com">Heatherglade</a>.</div>
          </div>
        </div>

        <div class="can section">
          <h3 class="sub-header">Навыки</h3>
          <h4 class="can__sub-header">Фронтенд</h4>
          <p class="can__item">HTML5, BEM;</p>
          <p class="can__item">CSS3, CSSNext;</p>
          <p class="can__item">JavaScript, ES6/2015, TypeScript;</p>
          <p class="can__item">Изучаю: React + Redux.</p>
          <h4 class="can__sub-header">Бекенд и автоматизация</h4>
          <p class="can__item">Node.js. Express.js, Sails.js;</p>
          <p class="can__item">nw.js, Electron;</p>
          <p class="can__item">Grunt, Gulp, Webpack;</p>
          <p class="can__item">PostCSS.</p>
          <h4 class="can__sub-header">Общее</h4>
          <p class="can__item">Знание того, как работают сети. <br>HTTP, REST. <br>Понимание структуры современных приложений;</p>
          <p class="can__item">Базы данных: SQL, document-oriented, key-value;</p>
          <p class="can__item">Linux: Ubuntu, Debian. <br>Установка, настройка, поддержка;</p>
          <p class="can__item">Git.</p>
          <h4 class="can__sub-header">Дизайн</h4>
          <p class="can__item">Adobe Illustrator, InDesign;</p>
          <p class="can__item">Sketch;</p>
          <p class="can__item"><a href="http://artgorbunov.ru/bb/soviet">Советы Бюро</a>, книжки издательства Студии Лебедева;</p>
          <p class="can__item">Любовь к прекрасному и логичному.</p>
        </div>

        <div class="edu section">
          <h3 class="sub-header">Альма-матер</h3>
          <p class="edu__desc">Московский технологический университет (МИРЭА)<br> с сентября 2016 года. Программная инженерия.</p>
        </div>


        <div class="positions section">
          <h3 class="sub-header">Места работы</h3>
          <div class="positions__item">
            <div class="positions__header">Кодельная — Fullstack web-developer</div>
            <div class="positions__desc">С ноября 2015 года по настоящее время.</div>
          </div>
          <div class="positions__item">
            <div class="positions__header">Heatherglade — Fullstack web-developer</div>
            <div class="positions__desc">С октябрь 2013 года по ноябрь 2015 года.</div>
          </div>
          <div class="positions__item">
            <div class="positions__header">CodePhobos — Fullstack web-developer</div>
            <div class="positions__desc">С июня по август 2015 года.</div>
          </div>
          <div class="positions__item">
            <div class="positions__header">Priem (Deliverator) — JavaScript разработчик</div>
            <div class="positions__desc">В июне 2015 года.</div>
          </div>
        </div>

        <p class="copyright"><a href="mailto:localhost@kern0.ru">localhost@kern0.ru</a> <br>1998-2016 &copy;.</p>
      </div>

    </div>
  </body>
</html>
